html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.panel-info {
    border-color:#337AB7 !important;
}

.cropit-preview {
  	background-color:#F0F0F0;
  	background-size:cover;
  	border:1px solid #C2C2D6; 	
  	margin-left:0%;
  	margin-top:0%;
  	width:200px;
  	height:200px;
}

.cropit-preview-image-container {
	cursor:move;
}

button {
    border-radius:0px !important;
}

input {
	margin-left:5%;
}

#cropit-panel {
	margin-top:5%;	
}

#cropit-select-btn input[type=file] {
	display:block;
    position:absolute;
    top:0%;
    left:0%;
    font-size:10px;
    text-align:right;
    opacity:0;
    outline:none;
    cursor:inherit;
}

#cropit-select-btn {
	width:200px;
    min-width:200px;
    height:100%;
    margin-top:15px;
    color:#FFFFFF;
    font-size:15px;  
    background-color:#337AB7;
    overflow:hidden;
}

#cropit-sm-img {
	margin-top:5px;
}

#cropit-lg-img {
    margin-top:5px;	
}

.cropit-btn-space {
    margin-top:10px;
    margin-right:11.5px;
}

.inline {
	display:inline-block !important;
}

/* Base CSS styles for range.
   Several styles need to be applied to range inputs in all browsers to override their basic appearance.
*/
input[type=range] {
	/* Hides the initial slider so that a new customized cross-browser slider can be made*/
    -webkit-appearance:none; 
    width:105px;
    margin:0px;
    padding:0px;
    background:transparent;
}

@media only screen and (orientation: portrait) and (max-device-width:768px) {
	
	input[type=range] {
		/* Hides the initial slider so that a new customized cross-browser slider can be made*/
	    -webkit-appearance:none; 
	    width:105px;
   	 	margin:0px;
    	padding:0px;
	    background:transparent;
	}	
}

@media only screen and (orientation: landscape) and (max-device-width:768px) {

	input[type=range] {
		/* Hides the initial slider so that a new customized cross-browser slider can be made*/
	    -webkit-appearance: none; 
	    width:105px;
    	margin:0px;
    	padding:0px;
	    background:transparent;
	}
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance:none;
}

input[type=range]:focus {
	outline:none;
}

input[type=range]::-ms-track {
	width:100% ;
    cursor:pointer;
    background:transparent; 
    border-color:transparent;
    color:transparent;
}

/* Styling the thumb */
/* -webkit-: Safari & Chrome*/
input[type=range]::-webkit-slider-thumb {
  	-webkit-appearance:none;
  	border:1px solid #337AB7;
  	height:15px;
  	width:15px;
  	border-radius:10px;
  	background:#337AB7;
  	cursor:pointer;
  	margin-top:-4px;
}

/* -moz- Firefox */
input[type=range]::-moz-range-thumb {
  border:1px solid #337AB7;
  height:15px;
  width:15px;
  border-radius:10px;
  background:#337AB7;
  cursor: pointer;
}

/* -ms- IE */
input[type=range]::-ms-thumb {
  border:1px solid #337AB7;
  height:15px;
  width:15px;
  border-radius:0px;
  background:#337AB7;
  cursor:pointer;
}

/* Styling the track */
input[type=range]::-webkit-slider-runnable-track {
  width:100%;
  height:8.5px;
  cursor:pointer;
  background:#F0F0F0;
  border-radius:0px;
  border:0.2px solid #C2C2D6;
}

input[type=range]::-moz-range-track {
  width:100%;
  height:8.5px;
  cursor:pointer;
  background:#F0F0F0;
  border-radius:0px;
  border:0.2px solid #C2C2D6;
}

input[type=range]::-ms-track {
  width:100%;
  height:8.5px;
  cursor:pointer;
  background:transparent;
  border-color:transparent;
  border-width:0px;
  color:transparent;
}

input[type=range]::-ms-fill-lower {
  background:#F0F0F0;
  border:0.2px solid #C2C2D6;
  border-radius:0px;
}

input[type=range]::-ms-fill-upper {
  background:#F0F0F0;
  border:0.2px solid #C2C2D6;
  border-radius:0px;
}
