<html>
	<body>

		<h3>Email sent with Spring and Velocity Template</h3>
        
		<p>Dear ${firstName} ${lastName}, your next mission is in ${location}</p>
        
		<p>Good Luck</p>
        
		<p>M</p>
	</body>
</html>